{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h2>The history of the activity (user ID: {{ USER_ID }})</h2><br>

    <!-- creating the table -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <!-- symbol -->
                <th scope="col">Share symbol</th>
                <!-- price -->
                <th scope="col">Share price</th>
                <!-- shares -->
                <th scope="col">Number of shares</th>
                <!-- date -->
                <th scope="col">Transaction-Date</th>
                <!-- time -->
                <th scope="col">Transaction-Date</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range( rows2|length ) %}
                <tr>
                    <th scope="row">{{ rows2[i]["symbol"] }}</th>
                    <th>{{ rows2[i]["price"] }}</th>
                    <th>{{ rows2[i]["shares"] }}</th>
                    <th>{{ rows2[i]["date"] }}</th>
                    <th>{{ rows2[i]["time"] }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
